ion-header {
    background-image: url('../../../assets/img/banner_dark_green.png') !important;
    background-size: cover;
    background-position: bottom;
    padding: 10px 0px;
    // height: 100px;
}

ion-toolbar {
    --background: transparent;
    --padding-start: 0px;
    // margin-top: 20px;
}

ion-title {
    color: white;
    margin-left: 10px;
    //margin-top: 20px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #0000005c;
}

ion-icon {
    font-size: 24px !important;
}

ion-list {
    padding-bottom: 0px;
}

ion-item:last-child {
    --border-width: 0px 0px 1px 0 !important;
}

ion-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnMenu {
    padding: 0 0 0 5px;
}

.classContent {
    --background: #F5F5F5;
    --padding-top: 10px !important;
}

.divCardSegment {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 0px;
}

.sgmtDTRType {
    min-width: 70px;
    background: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cecccc;
    font-family: "RobotoRegular";
}

.divDate {
    margin-top: -30px;
}

.divDTRDesc {
    margin-left: 40px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 70px;
}

.divDTRStat {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -8px;
}

.DateMonth {
    font-size: 13px;
    padding-top: 3px;
    color: white;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #E8554D;
    width: 65px;
    height: 20px
}

.DateDate {
    font-size: 35px;
    color: #5C5C5C;
    vertical-align: middle;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #F3F3F3;
    width: 65px;
    height: 45px;
}

.divDTRTime {
    font-size: 14px;
    font-family: "RobotoRegular";
}

.divDTRDay {
    color: #808080;
    font-size: 11px;
    margin-bottom: 12px;
}

.divDTRHours {
    color: #808080;
    font-size: 11px;
}

.lblDTR {
    margin-right: 5px;
}

.divLeave {
    font-size: 11px;
    float: right;
    text-align: center;
}

.imgLeaveIcon {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.divOBTime {
    font-size: 14px;
    margin-bottom: 5px;
}

.divOBRemarks {
    color: #808080;
    font-size: 11px;
    white-space: normal;
}