<ion-header>
    <!-- <ion-back-button class="imgBackButton button-light" slot="start" mode="md"></ion-back-button> -->
</ion-header>
<ion-content>
    <ion-button class="backIcon" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <img src="../../../assets/img/event_natcon.jpg" />
    <ion-item lines="full">
        <ion-avatar class="divDate">
            <div class="DateMonth">
                MAR
            </div>
            <div class="DateDate">
                5
            </div>
        </ion-avatar>
        <ion-label text-wrap class="lblEvents">
            <div class="EventsTitle">CX F.A.S.T. FORWARD: National Sales Conference 2020
            </div>
            <div class="EventsDetails">GABC 1155 Quezon City
            </div>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="time" slot="start" mode="md"></ion-icon>
        <ion-label text-wrap>
            <div class="EventsTitle">
                March 5, 2020 - March 6, 2020
            </div>
            <div class="EventsDetails">
                9:00AM to 6:00PM
            </div>
            <div class="EventsDetails">
                Thursday - Friday
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-icon name="pin" slot="start" mode="md"></ion-icon>
        <ion-label text-wrap>
            <div class="EventsTitle">
                GABC 1155 Building
            </div>
            <div class="EventsDetails">
                5/F Multipurpose Hall, GABC 1155 North EDSA, Quezon City
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">
                DETAILS
            </div>
            <div class="EventsDescription">
                <p>We are gearing up for the future of retail by focusing on the role of Customer Experience (CX), guided by the F.A.S.T. mindset.</p> <br />

                <p>In the National Sales Conference 2020 with the theme “CX F.A.S.T. Forward,” you will learn the following:
                </p>
                <p class="pBullet">• Better understand customer expectations, their role in creating positive, successful customer experiences, </p>
                <p class="pBullet">• Decide better and faster to address work challenges and customer concerns, </p>
                <p class="pBullet">• Develop and communicate their key messages and regularly reinforce them, and </p>
                <p class="pBullet">• Link their actions that reflect an F.A.S.T. and growth mindset.</p>
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">
                SCHEDULE
            </div>
            <div class="EventsDescription">
                Day 01 - March 5, 2020
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        07:30 am – 08:45 am
                    </ion-col>
                    <ion-col>
                        Arrival and Registration
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        09:00 am – 10:00 am
                    </ion-col>
                    <ion-col>
                        Eucharistic Celebration
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        10:00 am – 10:30 am
                    </ion-col>
                    <ion-col>
                        Mobilization to Multipurpose Hall
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        10:30 am – 11:20 am
                    </ion-col>
                    <ion-col>
                        Conference Introduction
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        11:25 am – 12:15 pm
                    </ion-col>
                    <ion-col>
                        Future of Retail
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        12:16 pm – 01:30 pm
                    </ion-col>
                    <ion-col>
                        Lunch
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        01:30 pm – 02:00 pm
                    </ion-col>
                    <ion-col>
                        Plenary 1
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        02:00 pm – 02:15 pm
                    </ion-col>
                    <ion-col>
                        Mobilization to Concurrent Sessions
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        02:15 pm – 05:30 pm
                    </ion-col>
                    <ion-col>
                        Concurrent Session 1
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div class="EventsDescription">
                Day 02 - March 6, 2020
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        07:30 am – 08:30 am
                    </ion-col>
                    <ion-col>
                        Registration
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        09:00 am – 09:15 am
                    </ion-col>
                    <ion-col>
                        Recap of Day 1
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        09:15 am – 09:30 am
                    </ion-col>
                    <ion-col>
                        Mobilization to Concurrent Session
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        09:30 am – 12:30 pm
                    </ion-col>
                    <ion-col>
                        Concurrent Session 2
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        12:30 pm – 01:30 pm
                    </ion-col>
                    <ion-col>
                        Lunch
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        01:45 pm – 04:45 pm
                    </ion-col>
                    <ion-col>
                        Concurrent Session 3
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        04:45pm – 05:00 pm
                    </ion-col>
                    <ion-col>
                        Mobilization to Multipurpose Hall
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        05:00 pm – 05:30 pm
                    </ion-col>
                    <ion-col>
                        <p>Processing </p>
                        <p>Conference Closing </p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        06:30 pm – 09:00 pm
                    </ion-col>
                    <ion-col>
                        Brands Session and Dinner
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">
                CONCURRENT SESSION
            </div>
            <!-- <div class="EventsSpeakerLocation">
                        PLENARY ONE
                    </div> -->
            <div class="EventsTopic">
                CUSTOMER EXPERIENCE
            </div>
            <div class="EventsTopic">
                Strengthening Customer Connections
            </div>
            <div class="EventsSpeaker">
                Mach Penarada
            </div>
            <div class="EventsSpeaker">
                Social Hall - Ground Floor
            </div>
            <div class="EventsSpeakerDesc">
                Strengthening Customer Connections will help you drive more positive, successful customer experiences. The workshop covers the following topics: Value of customer experience, Positive defining moments, Four customer expectations, Four respect responses,
                Two customer needs.
            </div>

            <!-- <div class="EventsSpeakerLocation">
                        PLENARY TWO
                    </div> -->
            <div class="EventsTopic">
                OPERATIONAL EXCELLENCE
            </div>
            <div class="EventsTopic">
                Resolving Problems Better
            </div>
            <div class="EventsSpeaker">
                Paula Peralta
            </div>
            <div class="EventsSpeaker">
                Multipurpose Hall - 5th Floor
            </div>
            <div class="EventsSpeakerDesc">
                Resolving Problems Better will help you decide better and faster to address work challenges and customer concerns. You will learn techniques such as defusing tension, resolving customer issues, handling problems, and driving continuous improvement.
            </div>

            <!-- <div class="EventsSpeakerLocation">
                        PLENARY THREE
                    </div> -->
            <div class="EventsTopic">
                LEADERSHIP
            </div>
            <div class="EventsTopic">
                Communicating Compellingly and Convincingly
            </div>
            <div class="EventsSpeaker">
                Flip Corpus
            </div>
            <div class="EventsSpeaker">
                Training Hall
            </div>
            <div class="EventsSpeakerDesc">
                Communicating Compellingly and Convincingly will help you motivate and engage your sales team towards better customer experiences. You will learn techniques such as clarifying the strategy, connecting with your audience, and communicating in a compelling
                and convincing way.
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">
                CONCURRENT SESSION GROUPINGS
            </div>
            <div class="EventsTopic">
                GROUP 1
            </div>
            <div class="EventsSpeaker EventsGroupings">
                Area 5 to 12; International Sales; Modern Trade; Region 2; RSM; NSM
            </div>

            <div class="EventsTopic">
                GROUP 2
            </div>
            <div class="EventsSpeaker EventsGroupings">
                Area 1 to 4; Area 21 to 25; Region 1 RSM; Region 5 RSM
            </div>

            <div class="EventsTopic">
                GROUP 3
            </div>
            <div class="EventsSpeaker EventsGroupings">
                Area 13 to 15; Area 16 to 20; Region 3 RSM; Region 4 RSM
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">
                CONCURRENT SESSION SCHEDULE
            </div>

            <div class="EventsTopic EventsBold">
                DAY 1 AFTERNOON
            </div>
            <div class="EventsSpeaker">
                02:15 PM to 05:30 PM
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 1
            </div>
            <div class="EventsTopic">
                Resolving Issues Better
            </div>
            <div class="EventsSpeaker">
                5/F Multipurpose Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 2
            </div>
            <div class="EventsTopic">
                Communicating Convincingly & Compellingly
            </div>
            <div class="EventsSpeaker">
                5/F Training Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 3
            </div>
            <div class="EventsTopic">
                Strengthening Customer Connections
            </div>
            <div class="EventsSpeaker">
                G/F Social Hall
            </div>
        </ion-label>
    </ion-item>


    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsTopic EventsBold EventsGroupSession">
                DAY 2 MORNING
            </div>
            <div class="EventsSpeaker">
                09:30 AM to 12:30 PM
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 1
            </div>
            <div class="EventsTopic">
                Communicating Convincingly & Compellingly
            </div>
            <div class="EventsSpeaker">
                5/F Training Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 2
            </div>
            <div class="EventsTopic">
                Strengthening Customer Connections
            </div>
            <div class="EventsSpeaker">
                G/F Social Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 3
            </div>
            <div class="EventsTopic">
                Resolving Issues Better
            </div>
            <div class="EventsSpeaker">
                5/F Multipurpose Hall
            </div>
        </ion-label>
    </ion-item>

    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsTopic EventsBold EventsGroupSession">
                DAY 2 AFTERNOON
            </div>
            <div class="EventsSpeaker">
                01:30 PM to 04:30 PM
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 1
            </div>
            <div class="EventsTopic">
                Strengthening Customer Connections
            </div>
            <div class="EventsSpeaker">
                G/F Social Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 2
            </div>
            <div class="EventsTopic">
                Resolving Issues Better
            </div>
            <div class="EventsSpeaker">
                5/F Multipurpose Hall
            </div>
            <div class="EventsSpeaker EventsGroupSession">
                GROUP 3
            </div>
            <div class="EventsTopic">
                Communicating Convincingly & Compellingly
            </div>
            <div class="EventsSpeaker">
                5/F Training Hall
            </div>
        </ion-label>
    </ion-item>

    <ion-item lines="full">
        <ion-label text-wrap>
            <div class="EventsDetailsTitle">GUIDELINES
            </div>
            <div class="EventsSpeakerDesc">
                <p>• We strongly recommend you to bring a backpack or small luggage. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• There will be an imposed curfew of 12AM for all checked-in participants. This is to ensure your safety and participation. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Available hotel facilities and amenities may be utilized by checked-in participants during their free time.Any additional charges incurred for the use and/or consumption of hotel facilities and amenities shall be charged accordingly.
                </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Hang the make-up room sign on your doorknob should you require housekeeping services between 11:00AM to 2:00PM. Make-up room service shall be available from 2:00PM to 6:00PM.For housekeeping service requests beyond this time, corresponding
                    charges will be applied and is charged to the employee. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Complimentary breakfast is provided and will be served as early as 4:45AM by batch. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Smoking in room is strictly prohibited inside the hotel premises. Violations for smoking inside the room will carry a penalty of Php 1,000.00 (One Thousand Pesos) for every infraction. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Key cards will be provided for checked-in participant. Lost key cards will be charged to the participant’s personal account upon checkout. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Avoid unnecessary noise and keep television volumes at a reasonable level as a courtesy to the other guests. </p>
            </div>
            <div class="EventsSpeakerDesc">
                <p>• Visitors may only be entertained in the hotel lobby. </p>
            </div>
        </ion-label>
    </ion-item>
</ion-content>