    ion-item {
        --padding-end: 16px;
    }
    
    ion-grid {
        padding: 0px;
    }
    
    ion-row {
        padding: 3px 0px 0px;
    }
    
    ion-col {
        padding: 0px;
    }
    
    .backIcon {
        color: white;
        position: absolute;
        margin-top: 30px;
        margin-left: -5px;
    }
    
    .imgBackButton {
        //position: absolute;
        --min-height: 45px;
        color: white;
    }
    
    .divDate {
        height: 90px;
        padding: 10px 0px;
    }
    
    .DateMonth {
        font-size: 13px;
        padding-top: 3px;
        color: white;
        vertical-align: middle;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #E8554D;
        width: 65px;
        height: 20px
    }
    
    .DateDate {
        font-size: 35px;
        color: #5C5C5C;
        vertical-align: middle;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: #F3F3F3;
        width: 65px;
        height: 45px;
    }
    
    .pBullet {
        margin-left: 15px;
    }
    
    .lblEvents {
        margin: 0px 0px 0px 40px;
    }
    
    .EventsTitle {
        font-size: 15px;
        color: black;
        font-family: "RobotoBold";
    }
    
    .EventsDetails {
        font-size: 13px;
        color: #5C5C5C;
        font-family: "RobotoRegular";
    }
    
    .EventsDetailsTitle {
        font-size: 13px;
        color: #5C5C5C;
        margin-bottom: 10px;
        font-family: "RobotoRegular";
    }
    
    .EventsDescription {
        font-size: 15px;
        color: black;
        font-family: "RobotoRegular";
        margin-top: 5px;
    }
    
    .EventsBold {
        font-family: "RobotoBold" !important;
    }
    
    .EventsTopic {
        font-size: 15px;
        font-family: "RobotoMedium";
        color: black;
    }
    
    .EventsSpeaker {
        font-size: 14px;
        color: #5C5C5C;
        font-family: "RobotoRegular";
    }
    
    .EventsGroupings {
        margin-bottom: 10px;
    }
    
    .EventsGroupSession {
        margin-top: 10px;
    }
    
    .EventsSpeakerLocation {
        font-size: 14px;
        color: #5C5C5C;
        margin-top: 10px;
        font-family: "RobotoRegular";
    }
    
    .EventsSpeakerDesc {
        font-size: 15px;
        color: black;
        font-family: "RobotoRegular";
        margin: 5px 0px 25px;
    }