<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class=btnMenu ion-button icon-only menuToggle slot="start" (click)="toggleMenu()">
                <ion-icon color="light" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-title mode="md" slot="start">Loans</ion-title>
</ion-header>
<ion-content class="classContent" hide-header header="header">
    <div *ngIf="noError; else error">
        <div *ngIf="loadingDone; else shimmer">
            <ion-card *ngIf="isFullyPaid;">
                <ion-list lines="full" class="list">
                    <ion-item button detail *ngFor="let item of (results);" (click)="setLoanDetails(item)">
                        <img class="imgLoan " src="{{getLoansSrc(item.LoanName)}}" alt=" ">
                        <ion-label class="loanDetails " text-wrap>
                            <div class="loanName ">
                                {{ item.LoanName }}
                            </div>
                            <ion-grid class="loanInfo ">
                                <ion-row class="rowLoanDetails">
                                    <ion-col>
                                        LOAN AMOUNT:
                                    </ion-col>
                                    <ion-col>
                                        LOAN BALANCE:
                                    </ion-col>
                                </ion-row>
                                <ion-row class="rowLoanAmount">
                                    <ion-col>
                                        {{item.LoanAmount}}
                                    </ion-col>
                                    <ion-col>
                                        {{item.LoanBalance}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>
            <ion-card *ngIf="!isFullyPaid;">
                <ion-list lines="full" class="list">
                    <ion-item button detail *ngFor="let item of (results2);" (click)="setLoanDetails(item)">
                        <img class="imgLoan " src="{{getLoansSrc(item.LoanName)}}" alt=" ">
                        <ion-label class="loanDetails " text-wrap>
                            <div class="loanName ">
                                {{ item.LoanName }}
                            </div>
                            <ion-grid class="loanInfo ">
                                <ion-row class="rowLoanDetails">
                                    <ion-col>
                                        LOAN AMOUNT:
                                    </ion-col>
                                    <ion-col>
                                        LOAN BALANCE:
                                    </ion-col>
                                </ion-row>
                                <ion-row class="rowLoanAmount">
                                    <ion-col>
                                        {{item.LoanAmount}}
                                    </ion-col>
                                    <ion-col>
                                        {{item.LoanBalance}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>
        </div>
    </div>
    <div class="divZeroBalance" *ngIf="loadingDone">
        <ion-checkbox class="chkZeroBalance" [(ngModel)]="isFullyPaid" (ionChange)="ionViewWillEnter()"></ion-checkbox>
        <ion-label class="lblZeroBalance" (click)="changeLoan()"> With Zero Balance</ion-label>
    </div>
</ion-content>
<ng-template #shimmer>
    <ion-card>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <ion-list>
            <ion-item class="shimmeritem" *ngFor="let number of [0,1,2]">
                <div id="box" class="shine"></div>
                <div class="divShimmer">
                    <div id="lines1" class="shine"></div>
                    <div id="lines1" class="shine"></div>
                    <div id="lines1" class="shine"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
</ng-template>
<ng-template #error>
    <ion-card>
        <ion-item lines="none">
            <div class="errorbox">
                <ion-avatar class="center">
                    <img src="assets/img/logo_gabc_gray.png"></ion-avatar>
                <span class="errorMessage">{{errorMessage}}</span>
                <span class="errorMessage">
                        <ion-button class="errorButton" (click)="refresh()">RETRY</ion-button>
                        <ion-button class="errorButton" style="margin-left:10px" [routerLink]=" ['/main/home']">
                            <ion-icon color="light" name="home"></ion-icon>
                        </ion-button>
                    </span>
            </div>
        </ion-item>
    </ion-card>
</ng-template>