<ion-content>

  <!-- <ion-item lines="none" class="ion-text-wrap">
      <ion-label >Please enter the last 3 digits of your employee number + date of birth (m/d/yyyy)</ion-label>
      <ion-label >Sample:</ion-label>
      <ion-label >Employee Number: 012345</ion-label>
      <ion-label >Birth Date: January 5, 1991</ion-label>
      <ion-label >Security Key: 345151991</ion-label>  
    </ion-item> -->
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg>
          <ion-item lines="none">
            <ion-label class="labelFilter"  *ngIf="!newPassword">SECURITY KEY</ion-label>
            <ion-label class="labelFilter"  *ngIf="newPassword">NEW PASSWORD</ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="12" size-sm *ngIf="!newPassword">
          <p class="lblDetails">Please enter the last 3 digits of your employee number + date of birth (m/d/yyyy)
          </p>
          <br>
          <p class="lblDetails">Sample:
          </p>
          <br>
          <p class="lbNegMargin">Employee Number: 012345
          </p>
          <br>
          <p class="lbNegMargin">Birth Date: January 5, 1991
          </p>
          <br>
          <p class="lbNegMargin">Security Key: 345151991
          </p>
          <br>
        </ion-col>

        <ion-col size="12" size-sm *ngIf="newPassword">
          <p class="lblDetails">Hold-down the SHOW button to view your password.
          </p>
          <br>

          <br>
        </ion-col>


        <ion-col size="12" size-lg *ngIf="!newPassword">
          <!-- <ion-item class="itemInput" lines="none">
            <ion-input class="roundedItems" type="password" [(ngModel)]="securityKey"></ion-input>
            <ion-icon slot="end" color="medium" name="eye-off" (click)="togglePasswordText()"></ion-icon>
          </ion-item>     -->
          <ion-item *ngIf="showPassword" lines="none">
            <ion-input class="roundedItems" type="text" [(ngModel)]="securityKey"></ion-input>
            <ion-icon slot="end" color="medium" name="eye-off" (click)="togglePasswordText()"></ion-icon>
          </ion-item>
          <ion-item *ngIf="!showPassword" lines="none">
            <ion-input class="roundedItems" type="password" [(ngModel)]="securityKey"></ion-input>
            <ion-icon slot="end" color="medium" name="eye-off" (click)="togglePasswordText()"></ion-icon>
          </ion-item>

        </ion-col>

        <ion-col size="12" size-lg *ngIf="newPassword">
          <ion-item *ngIf="showNewPassword" lines="none">
            <ion-input class="roundedItems" readonly type="text" [(ngModel)]="newPasswordKey"></ion-input>
          </ion-item>
          <ion-item *ngIf="!showNewPassword" lines="none">
            <ion-input class="roundedItems" readonly type="password" [(ngModel)]="newPasswordKey"></ion-input>
          </ion-item>

        </ion-col>

        <ion-col size="6" size-lg *ngIf="newPassword">
          <ion-item lines="none">
            <ion-button class="AttachButton" shape="round" (touchstart)="touchstart($event)" (touchend)="touchend($event)">
              SHOW
              <ion-icon slot="start" name="eye"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-col>
        <ion-col size="6" size-lg *ngIf="newPassword">          
          <ion-item lines="none">
            <ion-button class="AttachButton" shape="round" (click)="copyPassword()">
              COPY
              <ion-icon slot="start" name="copy"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button *ngIf="!newPassword" class="buttonFilter" (click)="submit()">SUBMIT</ion-button>
    <ion-button *ngIf="newPassword" class="buttonFilter" (click)="done()">DONE</ion-button>
  </ion-toolbar>
</ion-footer>