
// ion-item {
//     margin: 0 15px 0;
//     --padding-start: 0px;
//     --inner-padding-end: 0px;
// }

// ion-footer {
//     text-align: center;

// }

.lblDetails {
    font-size: 12px;
    white-space: pre-line !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}


.labelFilter {
    font-size: 18px;    
    font-family: "RobotoMedium";
    text-align: center;
}

.AttachButton {
    color: #484848;
    --background: #D6D7D7;
    height: 35px;
    width: 100px;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 26px;
}

.buttonFilter {
    width: 95%;
    height: 35px;
}

.lbNegMargin{
    font-size: 12px;
    white-space: pre-line !important;
    margin-top: -15px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;

}

.itemInput {
    font-size: 14px;
    margin: 0px !important;
    width: calc(100% - 5px);
}

.roundedItems {
    border: 1px solid #d1d1d1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-inline-start: 5px !important;
}